

<nav class="navbar navbar-expand-lg bg-white" >
  <div class="container-fluid d-flex align-items-center navigation">
    <!-- Navbar en dehors du ul -->
    <a class="col-md-1 navbar-brand ms-0 text-start" href="#"><img src="assets\Logo Agence Créative Minimaliste Moderne Blanc et Bleu (1).png"alt="logo" class="img-fluid mb-1 logo" ></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex align-items-center">

        <li class="nav-item col-md-3 me-0 text-center">
          <a class="nav-link active" aria-current="page" href="#"><span style="text-decoration: underline #5170ff 2px solid;">Trouver un travail</span></a>
        </li>

        <li class="col-md-4 recherche ">
          <form class="d-flex" role="search">
            <div class="input-group">
             <span class="input-group-text icon-wrapper">
                <i class="bi bi-search"></i>
              </span>
              <input type="search" class="form-control border-start-0" placeholder="Rechercher un travail en fonction..." aria-label="Search">
            </div>
          </form>
        </li>

        <li class="nav-item col-md-2 me-1 text-center">
          <a class="nav-link active" aria-current="page" href="#">Employeur?</a>
        </li>

        <!-- Ici on met ms-auto pour pousser boutons à droite -->
        <li class="nav-item col-1 d-flex align-items-center justify-content-center  ">
          <button class="inscription me-2">Inscription</button>
        </li>

        <li class="nav-item col-1 d-flex align-items-center justify-content-center  ">
          <button class="connexion">Connexion</button>
        </li>

      </ul>
    </div>
  </div>
</nav>




