

    
    <footer class=" mt-5 pt-5">
        <div class="container-fluid px-4">
            <div class="row text-center text-md-start me-0 ms-0">
            
                <!-- Logo et Réseaux -->
                <div class="col-md-3  align-self-start mb-4">
                    <img src="assets/logo_footer.png" class="img-fluid mb-3" alt="logo" style="width: 140px; height: 85px;">
                    <div class="d-flex justify-content-center justify-content-md-start gap-2">
                        <img src="icons/facebook-brands-solid-full.svg" alt="Facebook" width="24">
                        <img src="icons/x-twitter-brands-solid-full.svg" alt="Twitter" width="24">
                        <img src="icons/linkedin-brands-solid-full.svg" alt="LinkedIn" width="24">
                        <img src="icons/youtube-brands-solid-full.svg" alt="YouTube" width="24">
                    </div>
                </div>

                <!-- À propos -->
                <div class="col-md-3  align-self-start mb-4">
                    <h6 class="fw-bold">À propos</h6>
                    <ul class="list-unstyled">
                        <li>Concept</li>
                        <li>Qui sommes-nous ?</li>
                        <li>Offres d'emploi</li>
                        <li>Offres de stage</li>
                        <li>Centre d'aide</li>
                    </ul>
                </div>

                <!-- Contact -->
                <div class=" col-md-3 align-self-start mb-4">
                    <h6 class="fw-bold">Nous contacter</h6>
                    <ul class="list-unstyled">
                        <li>Tarifs</li>
                        <li>Assistance entreprise</li>
                        <li>Assistance demandeur</li>
                    </ul>
                </div>

                <!-- Newsletter -->
                <div class=" col-md-3 align-self-start mb-4">
                    <h6 class="fw-bold" >Newsletter</h6>
                    <p class="texte-newsletter">Une fois par semaine, des histoires, des jobs et des conseils dans votre boite mail.</p>
                    <form class="d-flex flex-column flex-sm-row gap-2 newsletter">
                        <input type="email" class="form-control  rounded-0" placeholder="Entrez votre email" required>
                        <button type="submit" class="btn sinscrire rounded-0">S'inscrire</button>
                    </form>
                </div>

            </div>

            <!-- Bas de page -->
            <div class="row border-top pt-3 mt-4">
                <div class="col-md-12 text-center">
                    <ul class="list-inline small g-1">
                    <li class="list-inline-item">Mentions Générales</li>
                    <li class="list-inline-item">CGU</li>
                    <li class="list-inline-item">Charte Liggey</li>
                    <li class="list-inline-item">Politique de confidentialité</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



