<!--
<div class="row">
    <h3>Recherches populaires</h3>
    <div class="col-2 col-md-2">Commercial</div>
    <div class="col-2 col-md-2">Marketing</div>
    <div class="col-2 col-md-2">Developper</div>
    <div class="col-2 col-md-2">Finance</div>
    <div class="col-2 col-md-2">Juriste</div>
</div>
-->

<div class="header">
            <h1 class="main-title">Recherches populaires</h1>
        </div>

        <div class="category-tabs">
            <button class="category-tab active" data-category="communication">Communication</button>
            <button class="category-tab" data-category="commercial">Commercial</button>
            <button class="category-tab" data-category="marketing">Marketing</button>
            <button class="category-tab" data-category="developer">Developer</button>
            <button class="category-tab" data-category="finance">Finance</button>
            <button class="category-tab" data-category="juriste">Juriste</button>
        </div>
<div class="conteneur-ensemble">
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>

    <!--A enlever pour laisser place a la boucle for -->
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div>
            <h3>Intitule_Job</h3>
            <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
<!--Fin des truc a enlever -->
</div>


    <button type="button" class="btn btn-primary butt">Voir plus</button>

