<div class="card mb-3 p-3 w-100 w-sm-75 w-md-50 w-lg-40">
  <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2">
    
    <!-- Bouton : en haut sur petit écran, à droite sur md+ -->
    <button class="btn btn-primary order-0 order-md-1 boutonLabel">
      {{ buttonLabel }}
    </button>

    <!-- Titre + badge -->
    <div class="d-flex align-items-center gap-2 order-1 order-md-0">
        <i class="bi bi-person-circle fs-1"></i>
      <h5 class="card-title mb-0 fw-bold">Lala Diallo</h5>
      <span 
        class="badge"
        [ngClass]="{
          'bg-light text-danger border border-danger': !isComplete,
          'bg-light text-success border border-success': isComplete
        }">
        {{ isComplete ? 'complet' : 'pas complet' }}
      </span>
    </div>

  </div>

  <!-- Description en bas -->
 
<ul class="infos list-unstyled d-flex flex-column flex-md-row flex-wrap gap-2 px-3 mb-3">
  <li class="d-flex align-items-center gap-2">
    <i class="bi bi-envelope-at"></i>
    <span class="text-break">LalaDiallo&#64;gmail.com</span>
  </li>
  <li class="d-flex align-items-center gap-2">
    <i class="bi bi-whatsapp"></i>
    <span class="text-break">701234567</span>
  </li>
  <li class="d-flex align-items-center gap-2">
    <img src="icons/cake.svg" alt="" width="20">
    <span class="text-break">09/03/2001</span>
  </li>
</ul>


</div>

