<div class="conteneur-ensemble">
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div class="job-details">
            <h3>Intitule_Job</h3>
            <div>
                <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> CCOS UGB
            </div>
            <p>
                Centre de Calcul Ousmane Seck
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->Type_Emploie</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->Localisation</span>
            </div>
            <span>1000 collaborateurs </span>
        </div>
    </div>
</div>




