<div class="conteneur-ensemble" >
    <div class="ensemble">
        <div>
            <img src="images/dev.jpg" alt="photo_job" class="photo_job">
        </div>
        <div class="job-details">
            <h3>{{offre.poste}}</h3>
            <div>
                <img src="images/ccos.png" alt="logo_entreprise_mi" class="logo_entreprise_mi"> {{offre.intitule}}
            </div>
            <p>
                {{offre.description}}
            </p>
            <div>
                <span class="aligner"><!--<img src="" alt="icon_emploie"> -->{{offre.typeContrat}}</span>
                <span class="aligner"><!--<i class="fa-solid fa-location-dot"></i>-->{{offre.localisation}}</span>
            </div>
            <span>{{offre.nombrePostes}} Postes disponibles</span>
        </div>
    </div>
</div>




