/* You can add global styles to this file, and also import other style files */

*{
    margin-left: 0;
    margin-right: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
}
